services:
  backend:
    container_name: painel_backend
    build:
      context: ./backend
    ports:
      - "3333:3333"
    env_file: ./backend/.env
    networks:
      - painel_network

  frontend:
    container_name: painel_frontend
    build:
      context: ./frontend
    ports:
      - "80:8080"
    env_file: ./frontend/.env
    networks:
      - painel_network

networks:
  painel_network:
    driver: bridge
    ipam:
      config:
        - subnet: 192.168.100.0/24
